[2016-12-16 00:16] DmitrySoshnikov opened #4 "Support Windows for development process"
Currently npm [scripts](https://github.com/DmitrySoshnikov/syntax/blob/master/package.json#L12-L13) work only on Unix/Mac. While developers could use Cygwin to work with it, it be great to support Windows out of the box.

We can introduce a build system (`gulp` or similar) for this. Or just rewrite the scripts using Node's modules for file operations, instead of raw Bash scripts.

[2016-12-16 05:58] #4 closed

[2017-01-02 22:32] mohsen1 opened #5 "Project name is so very hard to search on internet!"
I know it's an odd issue but it took me 30 minutes to find this project! Finally recovered it from my GitHub stars.

P.S. Trying to write a brand new YAML parser with this. Do you have any recommendations?

[2017-01-03 06:45] DmitrySoshnikov opened #6 "Support named variables in handlers"
Currently handlers use number-notation for production variables. E.g.:

[code]

We need also to support variable names corresponding to non-terminals:

[code]

[2017-01-03 06:56] DmitrySoshnikov opened #7 "Support only tokenizer code generation"
Lexical grammar can already be specified as a separate file, however at code generation a tokenizer is always embedded into the generated parser file. We need to support generating a module for a standalone tokenizer (so it can be required as from any other parser).

[code]

Which can be required later in any parser:

[code]

Should support API from the [custom tokenizer](https://github.com/Dmitry

[2017-01-03 07:07] DmitrySoshnikov commented on #5
@mohsen1, absolutely valid point on the project name! Thanks for pointing this out. I'm potentially opened to renaming the project to a searchable name (it'd be great if it'll combine in it "language agnostic", and "parser generator"). The `lapp` was one of the initial alternatives -- "language agnostic parser processor". If you have good ideas for the name, please let me know ;)

I'll keep this i

[2017-01-04 01:38] DmitrySoshnikov opened #8 "Tokenizer: support returning a list of tokens from a lex rule"
A lex rule may return different token types, based on the logic of a handler. E.g.

[code]

We need to support as well returning several tokens from a rule handler:

[code]

This allows structuring grammar rules with "fake" tokens, making grammar rules simpler.

[2017-01-04 01:42] DmitrySoshnikov opened #9 "Tokenizer: support returning an actual token from a handler"
Currently a lex rule handler returns only a token type (potentially modifying `yytext`), E.g.

[code]

In this case `"100"` would result to:

[code]

We need also to support returning a full token (type-value pair) from a handler:

[code]

[2017-01-05 08:14] DmitrySoshnikov opened #10 "Tokenizer: Pass matched RegExp groups as variables"
Currently there is no way to refer a specific matched group in the lex rule handler. We need to support them as variables: `$1`, `$2`, etc. Example:

[code]

[2017-01-06 10:11] #8 closed

[2017-01-06 10:23] DmitrySoshnikov opened #11 "Ruby plugin: support start conditions in tokenizer"
The [TODO](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/ruby/ruby-parser-generator-trait.js#L95) is to implement start conditions. Similar to PR #2 for PHP.

[2017-01-06 10:24] DmitrySoshnikov opened #12 "Python plugin: support start conditions in tokenizer"
The [TODO](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/python/py-parser-generator-trait.js#L75) is to implement start conditions. Similar to PR #2 for PHP.

[2017-01-06 21:31] DmitrySoshnikov opened #13 "Build: use only needed Babel plugins, reducing build time"
We should target the latest Node version, which already implements most of the ES6/E7, and use only needed Babel plugins (if any) instead of full ES2015 preset.

[2017-01-06 21:33] DmitrySoshnikov opened #14 "Implement Java plugin"
We need to support LR-parser generator for Java. See [example plugin](https://github.com/DmitrySoshnikov/syntax/tree/master/src/plugins/example), or [C# plugin](https://github.com/DmitrySoshnikov/syntax/tree/master/src/plugins/csharp) which is closer to Java.

[2017-01-09 00:58] DmitrySoshnikov opened #15 "Show progress steps for longer operations"
Calculating an LALR(1) by compressing from CLR(1) for a big grammar can take some time. It'd be good to log each steps making calculation more interactive. Potentially this may also be an actual progress bar.

[2017-01-11 01:14] DmitrySoshnikov opened #16 "Separate LexGrammar into own class"
To support only Tokenizer code generation in #7, it's good to have lexical, and syntactic grammars as two separate classes (currently both are mixed into one `Grammar` class, we can introduce `LexGrammar` for the lexical one).

[2017-01-12 19:34] DmitrySoshnikov opened #17 "Make generated parsers thread-safe"
Currently "global" variables like `yytext`, `yylen`, `$$`, etc. are implemented either as module-level variables (in JS), or static class variables (in some plugins, C#, PHP, etc).

This makes using parsing several files in parallel (e.g. in threads) impossible, since they mutate the same "global" data. We should make them instance variables, and always export a class for Tokenizer and the Parser

[2017-01-12 20:07] #16 closed

[2017-01-12 21:19] DmitrySoshnikov opened #18 "Support locations in tokens and AST nodes"
We should support `start` / `end` locations for tokens, and for AST nodes, and also `loc` structure with `line` and `column` numbers.

It can be either properties sitting on the handler arguments themselves, e.g.:

[code]

Or an extra "location" structure ("global" `loc` variable) passed as the last parameter to a handler function:

[code]

For the example code:

[code]

A resulting AST node can h

[2017-01-17 21:15] DmitrySoshnikov opened #19 "Show source line and pointer to the invalid token in error message"
When we get "Unexpected token" error from the tokenizer or parser, we currently just show:

[code]

In addition it'd be good to show an actual line from the original source, and a pointer to the invalid token:

[code]

[2017-01-20 00:31] DmitrySoshnikov opened #20 "CLI: Add --validate option to check a grammar"
Currently to check "shift-reduce", and other conflicts one needs to either pass `--collection`, or `--table` options, which actually builds, and outputs parsing table.

We need to add `--validate` options which will just just show:

[code]

Or

[code]

[2017-01-20 06:41] DmitrySoshnikov opened #21 "Grammar: Support "optional symbol" EBNF notation"
Currently one have to explicitly define an optional rule as:

[code]

This makes it inconvenient to define a bunch of `Opt<Symbol>` rules. We can support instead EBNF notation for optional rules:

[code]

This can be done as grammar transform by inserting the optional rule (basically transforming to the former version internally).

[2017-01-23 05:00] DmitrySoshnikov opened #22 "Integrate Flow type checker"
Currently code is not statically type-checked. We can use [Flow](https://flowtype.org/) to provide static type safety.

[2017-01-28 10:09] DmitrySoshnikov opened #23 "Allow regexp definitions directly in BNF grammar"
Currently it's possible to use raw (wrapped in quotes) literal tokens in BNF.

[code]

We should also allow embedding regexp rules from lexical grammar directly to the BNF.

[code]

[2017-02-06 00:05] DmitrySoshnikov opened #24 "Python plugin: support locations in semantic actions"
Similar to https://github.com/DmitrySoshnikov/syntax/commit/28880c9cfd840ac7f838f41fb9e32068e778fc2d for Example plugin.

[2017-02-06 00:06] DmitrySoshnikov opened #25 "Ruby plugin: support locations in semantic actions"
Similar to https://github.com/DmitrySoshnikov/syntax/commit/28880c9cfd840ac7f838f41fb9e32068e778fc2d for Example plugin.

[2017-02-06 00:06] DmitrySoshnikov opened #26 "C# plugin: support locations in semantic actions"
Similar to https://github.com/DmitrySoshnikov/syntax/commit/28880c9cfd840ac7f838f41fb9e32068e778fc2d for Example plugin.

[2017-02-06 04:26] DmitrySoshnikov opened #27 "Reuse same grammar symbol objects"
Currently for productions like:

[code]

3 instances of the `e` symbol are created. We can track a global registry of symbols, and don't allocate a new symbol if it's already created.

[2017-02-06 21:03] DmitrySoshnikov opened #28 "Investigate different error recovery strategies"
Currently the parser will fail on the first found error. For being more practical, we should consider building some [error recovery mechanisms](https://gist.github.com/DmitrySoshnikov/feee52cbfb03b7b691102ca240aa236a), and restore parsing after finding an error. We can start from the simplest _panic mode_ recovery, and allow catching several errors in one pass:

[code]

Should issue two errors (cu

[2017-02-07 07:50] #27 closed

[2017-02-07 22:23] #26 closed

[2017-02-07 22:45] DmitrySoshnikov opened #29 "Expose original source code to user-level"
Some tools may need to analyze original source code corresponding to AST nodes (combined with node locations, it is possible to get a substring of a node in the source code).

We need to expose the source code on parser, tokenizer, and in the handlers This can be just a global (or scoped) `yysource` variable.

[code]

[2017-02-09 00:02] #12 closed

[2017-02-09 06:11] #11 closed

[2017-02-10 01:32] fdutton opened #30 "Support non-capturing group in native language."
Some languages like PHP do not adhere to the POSIX grammar. Since lex-rule.js instantiates a field using JavaScript's RegExp, it implicitly expects the expression to conform to the POSIX grammar and will raise a "Invalid regular expression" exception if it does not.

Example:
PCRE: ```(?<=[:space:])[Aa][Nn][Dd](?=[:space:])```
POSIX: ```(?:[:space:])[Aa][Nn][Dd](?=[:space:])```

Notes:
1. The uppe

[2017-02-10 05:22] DmitrySoshnikov opened #31 "Lexer: support case-insensitive option"
We need to support `case-insensitive` in the lexical grammar declaration:

[code]

In addition to global option for all rules, we can support this flag per each rule.

[2017-02-10 05:39] DmitrySoshnikov commented on #30
@fdutton, thanks for reporting the issues, all are good points.

- For the case-insensitivity, I opened a separate issue #31.

- For the matching "and" in "android": it should be possible to fix it using word boundary: `\b`:

[code]

- And for different regexp syntax, like `(?<=[:space:])[Aa][Nn][Dd](?=[:space:])` (which is not supported by JS) -- yes we should fix it. This should be an easy fix:

[2017-02-10 21:58] DmitrySoshnikov commented on #30
OK, this should be fixed in `0.0.57`, and this should work:

[code]

Notice though, the first example with _lookbehind assertion_ won't work, since tokenizer applies all rules starting from the beginning of a string (i.e. adding `^` at the beginning of all regexes).

[code]

("lookbehind" doesn't make sense for at the beginning of a string)

Still, using `\b` would fit better for your use-case.

F

[2017-02-10 21:58] #30 closed

[2017-02-10 22:07] DmitrySoshnikov opened #32 "Tokenizer: support beginning of a string ^ in actual regexp"
Currently tokenizer automatically add `^` at the beginning of all regexes. Some regexes, e.g. _lookbehind assertions_, can use it explicitly:

[code]

In this case we don't need to append the `^`.

Note: this doesn't work:

[code]

[2017-02-10 22:08] DmitrySoshnikov commented on #30
For the _lookbehind assertions_ I opened #32. This should be written explicitly as (see `^`):

[code]

[2017-02-11 01:08] DmitrySoshnikov commented on #31
Fixed by https://github.com/DmitrySoshnikov/syntax/commit/c1442bba16f6e8b52219af49d5abb9582cb6b288, and is available since `0.0.57`.

[2017-02-11 01:08] #31 closed

[2017-02-11 01:09] DmitrySoshnikov commented on #30
Re: case-insensitive: fixed by https://github.com/DmitrySoshnikov/syntax/commit/c1442bba16f6e8b52219af49d5abb9582cb6b288, and is available since `0.0.57`. See docs [here](https://www.npmjs.com/package/syntax-cli#case-insensitive-match).

[2017-02-11 02:52] fdutton opened #33 "PHP: Unresolved function"
PHP reports an unexpected error instead of raising an exception when encountering unbalanced parenthesis.

This occurs because the PHP template is attempting to reference a global function instead of a local, static function.

See lr.template.php:165.

[2017-02-11 03:27] DmitrySoshnikov commented on #33
Fixed by #34.

[2017-02-11 03:27] #33 closed

[2017-02-12 03:02] DmitrySoshnikov opened #35 "Tokenizer: support lookbehind assertions"
Current lookbehind assertions do not work, since `^` is inserted at the beginning of the whole regexp (tokenizer applies all regexes from the beginning of the rest of a string).

This should match ` foo ` ("foo" surrounded by spaces):

[code]

This incorrectly transformed to:

[code]

While should be:

[code]

[2017-02-12 07:32] DmitrySoshnikov opened #36 "Expose lexer in parser semantic actions"
We should provide an ability to access lexer (e.g. to change its state) from semantic actions of productions:

[code]

[2017-02-12 21:05] #6 closed

[2017-02-13 07:18] #24 closed

[2017-02-14 21:26] fdutton opened #38 "Use more specific exception types"
Disclaimer: I am not a PHP developer but I am writing a translator for our PHP team that converts a Sphinx search expression into an ElasticSearch search expression as part of their migration from Sphinx to ElasticSearch.

The PHP team has provided a little over 1000 unit tests. Some are positive tests and some are negative tests. An example negative test is mismatched parenthesis. What we would l

[2017-02-14 21:50] fdutton opened #39 "Need recommendation for namespace management"
I have the following BNF rules and I have the functions ```disjunction``` and ```conjunction``` declared in the ```moduleInclude``` section.
[code]
This places the functions in the global namespace. Is there a way to add these functions to the generated parser or can you recommend an idiom that does not pollute the global namespace? In other words, given two parsers that both declare the functions

[2017-02-14 21:50] DmitrySoshnikov commented on #38
@fdutton, yeah, I was also thinking about this exact issue. And I also changed this for JS plugin -- it issues [SyntaxError](https://github.com/DmitrySoshnikov/syntax/blob/master/src/templates/lr.template.js#L211) instead of generic `Error` (fixed as part of https://github.com/DmitrySoshnikov/syntax/commit/b527c9c13793c3dd951a87bb5c32583d367d7b07).

I think a custom `SyntaxException` for PHP plugi

[2017-02-14 22:02] DmitrySoshnikov commented on #39
The `moduleInclude` code is injected at the beginning (or at the end -- depending on a plugin) of the generated parser.

For some languages, like JS or Python, those function become as part of the generated module, and are not exposed to the outside (so naming collision doesn't exist there). For other languages like PHP, which just include the whole source code into the importing namespace, the so

[2017-02-14 22:06] DmitrySoshnikov commented on #39
Actually, for 2 same parser instances, see issue #17. We need to make not static `parse` function, but to create a parser instance, and then call `$parser->parse()`.

For `moduleInclude` though, you can define AST node classes as separate files, and then just `require_once` in the `moduleInclude`:

[code]

[2017-02-14 22:18] fdutton opened #40 "Allow clients to pass additional variables for use in semantic actions"
While writing a translator that converts from Sphinx's expression syntax to ElasticSearch's expression syntax, I found that I needed to pass the document's field as a scope parameter. For example, I needed to instruct ElasticSearch to limit it's search to just the account_number field.
[code]

Other times, I needed to search the entire document.
[code]

As a client, I need the parser to accept add

[2017-02-14 22:20] fdutton commented on #40
```$context``` could be a complex object. For example,
```{"query":{"match":{$context.searchScope:$1}}}```

[2017-02-14 22:31] fdutton opened #41 "Consider using different tokens to delimit insertion points"
The templates contain insertion points delimited by '<<' and '>>'. I have not delved into the code to see how this is handled but '<<' and '>>' represent reserved operators in several C-based languages (e.g., C, C++, C# and Java use '<<' to represent a left-shift). This could make it awkward to write a proper template.

Consider using something that is not already used by any language or framework

[2017-02-14 22:52] fdutton opened #42 "Provide a way to pass a character stream to the tokenizer or a way to preprocess the supplied text"
PHP does not handle Unicode very well so I found it necessary to preprocess the supplied text by folding the Unicode characters into the ASCII character set using ```iconv('UTF-8', 'ASCII//TRANSLIT', $string)```.

Instead of passing a string to the parser, I would prefer passing a character stream or specifying a translation function so that I do not have to modify the generated code.

[2017-02-14 23:04] DmitrySoshnikov commented on #41
Yeah, this may break code highlighting in text-editors, but technically works. Currently it's just simple string replace for specific template variables. E.g. [in PHP plugin](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/php/php-parser-generator-trait.js#L33) trait.

Usually class hierarchy which handles templates in code generation is:

[LRParserGenerator#PluginName#](https://

[2017-02-14 23:13] DmitrySoshnikov commented on #40
Can you show a specific grammar and a semantic action example for this please?

Usually this can be handled as the data on the `$1` itself (or via some state tracking in the data included in the `moduleInclude`)

[code]

Or:

[code]

And use it as (if syntactically it works in your language):

[code]

Or:

[code]

[2017-02-14 23:19] DmitrySoshnikov commented on #42
Yeah, instead of a single generic `parse` function on a parser in the template, feel free to add `parseFromString` (and default `parse` will just call it), and the `parseFromCharStream` to PHP plugin.

[2017-02-15 20:10] DmitrySoshnikov commented on #36
- [x] ~JavaScript~ (fixed in https://github.com/DmitrySoshnikov/syntax/commit/acd475d5a0f1a33db185d2139ed91188b9cca25e)
- [ ] PHP
- [ ] Python
- [ ] Ruby
- [ ] C#

[2017-02-15 23:30] DmitrySoshnikov commented on #38
Fixed by https://github.com/DmitrySoshnikov/syntax/commit/7ffd6fcf527cb2a3eac4fa41c2cd6abb010412f7.

Notice, there is an ability to provide namespace for PHP now using `--namespace 'MyNamespace'` option. Then the thrown exception will be `MyNamespace\SyntaxException` instead of just `SyntaxException`. Also a parser should be used via namespace in this case: `MyNamespace\MyParser::parse(...)`.

[2017-02-15 23:30] #38 closed

[2017-02-15 23:31] DmitrySoshnikov commented on #39
Note: https://github.com/DmitrySoshnikov/syntax/commit/7ffd6fcf527cb2a3eac4fa41c2cd6abb010412f7 added support for namespace option using `--namespace 'MyNamespace'`. For PHP, a thrown exception will be `MyNamespace\SyntaxException` instead of just `SyntaxException`. Also a parser should be used via namespace in this case: `MyNamespace\MyParser::parse(...)`. If no namespace is provided, it's as pre

[2017-02-16 13:07] fdutton commented on #40
I need to pass some additional information to the parser. E.g.,
```$new_search_expression = MyParser::parse($search_scope, $old_search_expression);```

Then I need ```$search_scope``` to be available to semantic actions.

Here is the affected grammar.
```["TERM", "$$ = ['match' => [$search_scope => $1]]"],```

[2017-02-16 18:51] DmitrySoshnikov commented on #40
@fdutton, OK so this can be achieved with the `yy` storage object, which semantic actions can access (available since `0.0.66`).

As described in #36, the `yy` exposes access to tokenizer instance, so semantic actions can affect tokenizer state. However, [yy](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/php/templates/lr.template.php#L27-L34) can also be used to store any extra

[2017-02-17 01:06] fdutton commented on #40
Thanks for the solution.

I can see how this would work for single-threaded languages like PHP and Node. I assume that something similar could be done with multi-threaded languages like Java and C# using thread-local variables.

[2017-02-17 01:06] #40 closed

[2017-02-17 01:59] DmitrySoshnikov commented on #40
Yeah, currently parsers are singletons (with static `parse` method), which makes them thread-unsafe already (because of updating "global" `$$`, `@$`, `yytext`, etc. variables). There is issue #17 for this.

The static API will still be supported, and for other cases one will be able to create an instance of a parser, and all the data will stored on that instance.

[2017-02-19 05:26] #25 closed

[2017-02-19 05:42] #19 closed

[2017-02-21 06:37] DmitrySoshnikov opened #43 "Implement Debug mode"
Record all debug, and timing information with `--debug` (`-d`) option.

[2017-02-23 22:35] DmitrySoshnikov commented on #41
Fixed in https://github.com/DmitrySoshnikov/syntax/commit/2cb2987ebed8b2d54bf1218c763c7fbc5080a1ad.

[2017-02-23 22:35] #41 closed

[2017-02-27 01:55] #20 closed

[2017-02-28 17:27] tjvr commented on #23
Just simple character classes, or full-blown regexes? The latter would have very strange behaviour, because you can end up with overlapping regex matches in the CFG...

[2017-02-28 21:30] DmitrySoshnikov commented on #23
Good point, this might collide with BNF parser itself.

Probably can start from simple use-cases, like character classes. But the basic idea is the following (same as for simple literal tokens in BNF):

The way it's done now for simple terminal tokens, is that a lex-rule is [automatically created](https://github.com/DmitrySoshnikov/syntax/blob/master/src/grammar/grammar.js#L562-L564) for it. E.g.

[2017-03-01 09:51] #43 closed

[2017-03-01 09:54] #18 closed

[2017-03-31 07:13] DewaldDeJager opened #45 "Latest build not working"
Hello,

I have just cloned the repo, run `npm install` and `npm run build` which both executed successfully. However, when I run the utility with `./bin/syntax` it gives me the following output:

[code]

I am running Node v5.3.0 on Fedora 24 x64.

[2017-03-31 17:08] DmitrySoshnikov commented on #45
Hi,

Thanks for the report, it's fixed in for `./bin/syntax` in https://github.com/DmitrySoshnikov/syntax/commit/df41656dec0f58355d337ed14b647ec11676b204 (and in `0.0.86`, so executable `syntax-cli` from npm would work in Node 5).

However, a recommended version of Node is `6.*`. If for development, some tests will fail in Node `5.*` because of syntax errors, since use Node features which are avai

[2017-03-31 17:08] #45 closed

[2017-04-01 05:59] DmitrySoshnikov commented on #45
FYI: tests should pass in Node `5.*` after https://github.com/DmitrySoshnikov/syntax/commit/0f8b0ad127836f1d0fb60f0f427b04c1bd26ed29, however a recommended version of Node for development is still `6.*`.

[2017-04-01 08:06] DewaldDeJager commented on #45
I have tested in both Node v5.3.0 and v6.10.1 and it is working now. Thank you Dmitry!

[2017-05-07 13:21] hg42 commented on #28
according to discussion in regexp-tree:

There are different kinds of parsing errors:
* fatal for parsing (like structural errors, often missing brackets etc.)
  - it is impossible to continue.
* fatal for parsing but with a good guess (like some kinds of missing semicolon or missing brackets)
  - this can be handled
  - sometimes by catch-all clauses
  - or closing error states at certain tokens

[2017-05-08 08:13] DmitrySoshnikov commented on #28
Yeah, this is exactly where we'd be doing recovery. The idea is again -- not to fail on first error, but try to catch as many parse errors as possible.

This is not related to Syntax actually, and is up to specific parser (like regexp-tree parser). Syntax provides low-level parser generator API, not making any commitment about semantics of a particular language/grammar.

[2017-06-15 08:47] DmitrySoshnikov opened #47 "Implement Rust plugin"
See https://www.rust-lang.org/en-US/.

[2017-08-04 03:58] DmitrySoshnikov commented on #13
Fixed in https://github.com/DmitrySoshnikov/syntax/commit/0a2c0923db1e16157371d938bbc1518ee1f5488c.

[2017-08-04 03:58] #13 closed

[2017-09-18 01:59] DmitrySoshnikov opened #48 "Support `onShift` hook"
Currently we have a semantic action per the whole production, which is called `onReduce` action. For a better parser-lexer communication we could build a semantic action per each symbol on RHS ("before", and "after" hooks). Alternatively we can provide a generic `onShift` hook which can receive a production, symbol, lexer/parser instance, etc, and do some action (e.g. set a lexer state).

[code]

[2017-10-24 00:34] DmitrySoshnikov opened #50 "LL parsing: eliminate left-recursion"
We should provide tooling for automatic left-recursion elimination (in cases where it's possible).

[2018-01-01 19:06] RReverser opened #51 "Add support for recursive ascent parser generation"
It looks like currently the tool just generates table-driven parsers for various languages, which is often suboptimal.

Recursive ascent parsers are fully compatible with (LA)LR grammars, but they instead use native language features (functions, switches, etc.) so that they can be statically analysed and, as a result, much better optimised by the target compiler or JIT.

It would be great if `synt

[2018-01-01 19:19] DmitrySoshnikov commented on #51
Yeah, great idea; just recently I was thinking to add support for recursive descent (from LL(1) grammars), but the recursive ascent sounds event better. I also agree that it's better for static analysis, etc. I'll need to find time for it, and of course will appreciate a PR; this will be simply awesome addition to the tool!

For recursive descent, potentially can accept left-recursive grammars as

[2018-04-25 03:57] DmitrySoshnikov opened #52 "Improve performance of canonical collection building and CLR to LALR compression"
Currently building of the canonical collection, and compression from CLR(1) to LALR(1) are the longest operation, and for some grammars can be very slow (up to several minutes). We should investigate better compression algorithms here.

[code]

[2018-04-25 04:59] RobertSzefler commented on #52
I believe memory usage is a problem as well here:

[code]

[2018-04-25 08:14] RobertSzefler opened #54 "Add possibility to generate the parser only, omitting the lexer"
Could be useful for integration with separate, e.g. hand written lexers - which is exactly my case now.

[2018-04-25 08:16] RobertSzefler commented on #5
lapgen?

[2018-04-26 07:33] namiwang commented on #36
@DmitrySoshnikov Hi! Is there any specific reason that rust is not on the list here?

[2018-05-05 09:40] DmitrySoshnikov commented on #52
@RobertSzefler, below are the numbers on my machine with your second grammar (before, and after):

#### Before, LALR by CLR1:

[code]

#### After, LALR by SLR1:

[code]

Currently it uses experimental `lalr1_by_slr1` grammar mode. I'll do some more tests, and will make it default `lalr1` mode (the old one slow will be renamed to `lalr1_by_clr1`). Please do the tests as well on your machine, and le

[2018-05-05 09:41] DmitrySoshnikov commented on #52
Reopen automatically closed issue, until the API is stable.

[2018-05-05 22:47] DmitrySoshnikov commented on #52
Default "LALR(1) by SLR(1)" is published in `v. 0.1.0`, and is now available as just `--mode lalr1`.

[2018-05-06 20:00] #52 closed

[2018-05-12 16:52] hediet opened #58 "First set computation - algorithm correct?"
While studying your algorithm for computing the First set ([source](https://github.com/DmitrySoshnikov/syntax/blob/2c0d26044b3c62e7f48f72c060c7a6444b02f6e6/src/sets-generator.js#L62)), I wondered whether it is correct.

Consider a grammar like this:
[code]
From my understanding of your algorithm, you initially set `_firstSets[S]` to the empty set. Thus, when doing the recursion on `A`, the First s

[2018-05-12 23:08] DmitrySoshnikov commented on #58
Hm.. yeah, good catch. Even though the grammar itself seems is not parsable, the first set for both non-terminals should be `{x, y}`. I'll take a look into it, though it's an edge case, and such a grammar seems mostly is of theoretical interested -- doesn't mean we don't have to fix it though.

For the test grammar:

[code]

I get the:

[code]

Feel free to send a PR as well, in case you'll reach

[2018-05-31 06:22] namiwang opened #59 "rust plugin: wrong type annotation for args"
Hi, I'm trying to implement an experimental parser with custom tokenizer, in rust, via `syntax-cli`.

Here's a simple grammar (partially ripped from ruby's)

[code]

And some productions:

[code]

Would produce handlers like:

[code]

The issue I encountered is, at the beginning of `top_compstmt` aka `_handler2`, the values stack is like:

[code]

It seems legit to me, the first is the reduced res

[2018-06-01 20:18] DmitrySoshnikov commented on #59
@namiwang, thanks for reporting, Rust plugin is currently experimental, and might have potential bugs.  If you could attach some isolate example of a smaller grammar with tokenizer rules, which shows the issue, it'll be easier to debug it.

[2018-06-03 13:02] namiwang commented on #59
@DmitrySoshnikov

Hi! Just coined a smaller demo, which is altered from the `example/calc-ast.rs.g`

[code]

And the log

[code]

[2018-06-04 23:06] DmitrySoshnikov commented on #59
OK, I think the issue is in the wrong pop order. In particular in your example, the generated handler:

[code]

Should first pop the token. A quick fix to test, change in the generated file the:

[code]

I'll take a look later on into this, should be a simple fix, and will appreciated a PR as well in case. Thanks for catching this up!

[2018-06-04 23:56] DmitrySoshnikov commented on #59
OK, fixed in https://github.com/DmitrySoshnikov/syntax/commit/7153b3ac39691758fd19066a37bd808bb22af035, and in the `v. 0.1.2`.

Please let me know if you see any issues!

[2018-06-04 23:56] #59 closed

[2018-06-07 09:01] namiwang opened #60 "rust plugin: epsilon handling"
@DmitrySoshnikov

Hi!

The generated handler for an `empty production` contains the line `self.values_stack.pop();`. I guess that's not the expected behavior. I'd like to coin a repro-case if you need one. Thanks!

[2018-06-11 15:52] namiwang commented on #60
Well, I thought this is a quite obvious one.

Coined a small demo from `calc-ast.rs.g`:

[code]

And in the generated parser:

[code]

[2018-06-12 02:32] DmitrySoshnikov commented on #60
OK, thanks, should be fixed in https://github.com/DmitrySoshnikov/syntax/commit/4facaaae8b8d2d0f6c8f117369b8b2d07ae34612.

[2018-06-12 02:32] #60 closed

[2018-06-12 02:33] namiwang commented on #60
Thanks!

[2018-11-01 05:09] DmitrySoshnikov opened #62 "Tokenizer: support onToken event"
We should expose the `onToken` event, so the clients can subscribe, and route the parsing events based on the token.

[code]

[2018-11-09 19:30] enebo commented on #14
I am very interested in a Java plugin as JRuby uses an ancient LALR parser called Jay.  It would be nice to switch to something both being improved and used by more than 2 projects on the planet :)

I also have a killer grammar file to convert and see how things work out: https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/parser/RubyParser.y ... Ruby is a pretty massive gramma

[2018-11-09 20:06] DmitrySoshnikov commented on #14
@enebo, yeah, we should add it, it was a long standing issue. Great you have the grammar example! I'll take a look at this plugin soon (don't have the latest best practicing in Java, so would appreciate the review).

[2018-11-09 20:48] enebo commented on #14
@DmitrySoshnikov I have also been wanting to get more into Rust so I am keen on trying this out.

[2018-11-15 03:38] namiwang opened #65 "feature request: embedded in-rule actions"
Rules in yacc/bison may contain embedded actions, it's useful when constructing complex grammar.

reference: http://dinosaur.compilertools.net/bison/bison_6.html#SEC48

[2018-11-15 05:16] DmitrySoshnikov commented on #65
@namiwang, yeah, would be a good addition to have L-attribute grammars (where each non-terminal on the RHS can have its own handler, and depend on the symbols on the left from it).

For now this partially can be emulated by "empty" (epsilon) productions. See the `LhsHandler`, and `RhsHandler`: they don't consume any characters, but have the.semantic action block which is executed.

[code]

Result:

[2018-11-19 10:11] namiwang commented on #65
@DmitrySoshnikov

Thanks! It totally works.

And one little issue, in most cases, the embedded action does not need a return value, currently, I have to use a hack like `||->DUMMY; $$=Dummy;`.

Does `syntax` support a more elegant way to implement a no-return-value action?

[2018-11-19 18:58] DmitrySoshnikov commented on #65
@namiwang, are you using Rust plugin?

Usually if a production doesn't have a handler, it can be omitted altogether. In Rust plugin specifically you also don't need to specify types of just propagate the value:

See details in [this small tutorial](https://medium.com/@DmitrySoshnikov/rust-lalr-1-parser-generator-a623b64164e4).

Can you show a small grammar example when you have to use the dummy re

[2018-11-20 04:58] namiwang commented on #65
@DmitrySoshnikov

Well, the most simple case would be: I wanna mutate some values only, like updating the state of the interior tokenizer, thus the action does not need a return value.

[code]

will generate

[code]

which is not a valid function with the non-existing return value `__`

[2018-11-20 05:08] namiwang commented on #65
And another case would be, the action is used for error recorvering or should be panic.

[2018-11-23 07:49] namiwang opened #67 "rust: tuple as returning type"
`syntax` does recognize the following code

[code]

have to use sth like

[code]

Not that critical, though.

[2018-11-23 12:37] namiwang opened #68 "source-map for generated code"
it's pretty hard to debug the generated parser, when it contains more than 500 handlers.

I crudely added the following line to the template, so I could find the handler's corresponding grammar rule in seconds.

[code]

It's not a fancy souce-mapping solution, but maybe that's enough for now. Maybe I could polish it a little and file a PR, what do you think?

[2018-11-26 06:10] DmitrySoshnikov opened #69 "LR: Pop symbols directly in production handlers"
Currently on reduce the symbols are popped from the parse stack, then collected into a list, and passed to the production handler. This results to unnecessary lists allocation on each reduce. We should pop the symbols in the prologue of each handler (examples: Rust, Java plugins).

[2018-12-02 03:17] DmitrySoshnikov commented on #14
As of `v0.1.10` Java plugin is supported. See the [README.md](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/java/README.md) for details.

Try it out, and let me know if you see any issues!

[2018-12-02 03:19] DmitrySoshnikov commented on #14
For now it uses the same states parsing as in JavaScript, see [the example](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/java/templates/lr.template.java#L239-L240), doing a lot of `Integer.valueOf(...)` conversions such as `"s5" -> 5`.

Alternatively we can explore using another states format, to avoid string parsing, and use e.g. enum. E.g. instead of `"s5"` (which is "Shift-

[2018-12-02 15:48] enebo commented on #14
@DmitrySoshnikov Thanks.  I will try things out.

[2018-12-05 17:10] enebo opened #70 "Java implemention with bnf does not generate valid Java"
Trying out the new Java support.  My uses will want to use yacc/bison flavor of grammar.  Given:

[code]

Here is the .bnf:
[code]

Generating this will show two immediate issues:

 _lexRule0 has no lhs for semanticValue = null;

[code]

The classes generated need to be inner classes to be valid.  Which led me to add the following to the top of the file:

[code]

Unfortunately, I could not figure

[2018-12-06 04:35] DmitrySoshnikov commented on #70
@enebo, thanks, I'll take a look. The bad generated code for `_lexRule0` is due to the `-w` option as I identified from the quick tests (I'll fix it). Also, notice, that rules like:

[code]

is only for educational purposes (I should probably remove this example), since build unjustified large parsing table. In this case an actual lex rule should be used, as for `[0-9]`, or `\d+` (ideally I should

[2018-12-06 04:39] DmitrySoshnikov opened #71 "Transform BNF single char rules to Lexer rules"
It is possible to have a rule in BNF as:

[code]

This currently results into an inefficiently large parsing table, which is completely unjustified. The example is mostly educational, and on practice an actual `[0-9]` or `\d+` lex rule should be used which is much faster, and the table is small.

We can automatically transform such chars in BNF into a RegExp character class, and created an automat

[2018-12-06 04:40] DmitrySoshnikov commented on #70
I also opened #71 to fix the impractical `'0' | '1' | '2'...` BNF rules (again, on practice they should be moved to lexer).

[2018-12-06 04:55] DmitrySoshnikov commented on #70
The `-w` option is fixed in https://github.com/DmitrySoshnikov/syntax/commit/89996debd4e039e114296c4ccfa9f8d2c5958e66, and is available in `v0.1.11`.

What's up with the inner classes? Can you show an example where it's not working. You may define the AST nodes in another package, and then just import them in the module include section.

E.g. you have `com/syntax/ast/BinaryExpression.java`, etc, a

[2018-12-06 16:12] enebo commented on #70
@DmitrySoshnikov I was just starting with an example from your repo (C# loc was starting point).  In the long run I am not very interested in the lexer piece of Syntax since Ruby's is necessarily hand written (unfortunately).  I just want some simple example working before I try a larger grammar or compare how well Jay compares with Syntax.

The AST nodes I did move into other files already.  It i

[2018-12-06 21:42] DmitrySoshnikov commented on #70
@enebo, yeah, if you'll need a separate tokenizer, there is no way automatically provide one for plugins (only JavaScript supports it). You can manually modify the generated file though, removing the default tokenizer from it, and implementing the same API (`getNextToken()`, `hasMoreTokens()`, etc). In this case LR parser will be able to work with it.

As for AST node classes, what I meant is not

[2018-12-06 21:55] enebo commented on #70
@DmitrySoshnikov I will follow those step by step and let you know but I gave instructions and file with what I used above and they are not much different.  I do not see a sizable difference between the two unless the -w did something odd?  I will play a little bit...

[2018-12-06 22:12] enebo commented on #70
Wacky.  I don't get it ... it now works.  All the inner class stuff does not seem to be issue.  I am fairly confused now.  My only thought was I used npm build from master vs actual release.  I guess though I have no current issues after 89996de.

@DmitrySoshnikov as to your other suggestion I will try changing the source so I can plug in a lexer.  It should be good enough for a test.

I might sug

[2019-02-10 21:59] Islidius opened #73 "Follow Sets are not correct"
The Follow Sets are not computed correctly. For Example the following grammar has a wrong following set:
[code]
with A being the starting symbol.

This is the follow set being computed
[code]

but is should have "," in the follow set of T as `FOLLOW(T) = FOLLOW(E)`.
This results in a wrong parsing table (even the follow set table is newly generated)

[code]
which cannot parse the string "i,"

This

[2019-02-11 06:59] DmitrySoshnikov commented on #73
@Islidius, thanks, good catch. Yes, we'll need to fix the caching issue. I'll take a look later, and will appreciate a PR for this as well.

[2019-02-12 02:24] ckanner opened #74 "BNF support '.'"
This is my grammar.g
[code]
Then I generates it by `syntax-cli -g syntax/grammar.g -m LALR1 -o syntax/src/lib.rs`, and some errors occurs:
[code]
How can I fix it?

[2019-02-12 03:20] DmitrySoshnikov commented on #74
@ckanner, thanks for reporting. For now you can use a token name like:

[code]

And in the BNF:

[code]

[2019-02-12 03:42] ckanner commented on #74
@DmitrySoshnikov Thx. And how to write
[code]

[2019-02-12 03:44] DmitrySoshnikov commented on #74
The same:

[code]

[2019-02-12 03:45] ckanner commented on #74
@DmitrySoshnikov Nice. Thx.

[2019-02-12 03:46] DmitrySoshnikov commented on #74
In addition, when a token doesn't define a class, but a single character, you can write it directly in BNF instead of defining first in lexical grammar. Writing `'.'` would work:

[code]

And in BENF:

[code]

The same with `'+'` and `'*'`.

Sometimes the actual token constants, like `NUMBER`, `PLUS`, etc make more sense.

[2019-02-12 04:01] ckanner commented on #74
@DmitrySoshnikov
And help me to see it
[code]
Then I generates it by `syntax-cli -g syntax/grammar.g -m LALR1 -o syntax/src/lib.rs`, and some errors occurs:
[code]

[2019-02-12 05:08] DmitrySoshnikov commented on #74
@ckanner, the `STRING` needs escape for quotes:

[code]

[2019-02-12 05:31] ckanner commented on #74
@DmitrySoshnikov
I do this ok.
But the generated file of `lib.rs` has some error.
[code]
And this is my grammar file:
[code]
How can I fix it?

[2019-02-12 05:39] ckanner commented on #74
The error fragment of the code:
[code]
It seems the generated code ```let __ = Step::V {
            id: _3,
        };
    };``` has illegal `;`.
And ``` HasLabelStep
    : HasLabel ( STRING ) {

    let __ = Step::HasLabel {
    label: _3,
    };
    SV::_1(__)
    }``` is illegal.

[2019-02-12 13:49] ckanner commented on #74
@DmitrySoshnikov
This is the sample: https://github.com/ckanner/syntax-rust-sample
Can you help me find the reason of the error?

[2019-02-12 22:10] DmitrySoshnikov commented on #74
@ckanner, it see `&'static str` is not supported yet, I'll open a separate issue for this.

[code]

For now just define a type alias for it:

[code]

[2019-02-12 22:11] DmitrySoshnikov opened #75 "Rust plugin: support &'static str type in params"
The following generates invalid code currently:

[code]

[2019-02-13 00:49] ckanner commented on #74
@DmitrySoshnikov I update it and generates it ok.
But it run `main` failed.
This is the sample: https://github.com/ckanner/syntax-rust-sample
error:
[code]

[2019-02-13 00:51] DmitrySoshnikov commented on #74
In you `gremlin.g` you should be using `Token` type, not `Str`:

[code]

The `$3.value` gives you actual string of a token.

[2019-02-14 03:27] DmitrySoshnikov commented on #74
Closing this one, since '.' is a special symbol in BNF, and `DOT` token should be used. @ckanner, hopefully you were able to handle the Token type for the `STRING.`

[2019-02-14 03:27] #74 closed

[2019-02-16 03:29] ckanner commented on #74
@DmitrySoshnikov It means the type of any matched token can be using `Token` type, whether it is `i32` or `Str`. Right?

[2019-02-16 03:58] DmitrySoshnikov commented on #74
@ckanner, right, anything that is matched from the lexical grammar (like you `STRING`, `V`, etc) are of [Token](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/rust/templates/tokenizer.template.rs#L11-L21) type.

To access actual matched text, you use `value` property.

[2019-02-17 06:29] ckanner commented on #74
@DmitrySoshnikov
`g.V().out("label")`
`g.V().outE("label")`
This two statement, how can I defines the lex to reconize the `out` and `outE`.
This is the grammar:
[code]

This is the error:
[code]

[2019-02-18 03:55] DmitrySoshnikov commented on #74
@ckanner, tokenizer tries doing the longest match, so your `OUTE` token should be first:

[code]

alternatively you can use optional `e` at the end, and handle both generically:

[code]

Also, it's better to add boundary `\b`, so `out` is not matched in some `outfoo` text:

[code]

[2019-02-18 08:20] ckanner opened #76 "Rust plugin: change static str to String"
The generated code of rust use `&'static str` type. It may has some problem.
This is the sample
[code]
When I run it, the error is:
[code]
I can not change the type of `Gremlin.s` to `&'static str`. Because the struct may generated by protobuf, and it uses `std::string::String`.

It seems the generated code `pub fn parse(&mut self, string: &'static str) -> TResult ` can do some change.

Is there a

[2019-02-19 05:01] DmitrySoshnikov commented on #76
@ckanner, yeah, probably `String` would make more sense here as a more generic, heap-allocated string. We can provide both `parse` method signatures for this (the basic works with `String`, the other one with `&'static str` can calls the base one). I'll appreciate a PR for this in case you'll reach it earlier than me.

[2019-02-20 06:51] ckanner commented on #76
@DmitrySoshnikov
You means a method liked `pub fn parse(&mut self, string: &'static str) -> TResult` called `pub fn parse(&mut self, string: String) -> TResult`. And all the `&'static str` type in the `lib.rs` should changes to `String` type.

[2019-02-21 08:07] DmitrySoshnikov commented on #76
@ckanner, yeah, something like this. We can make `String` the main type used everywhere in the parser, and `&'static str` just creates a `String`, and calls the default method. See these templates, you can change those, and see if it works, then feel free to submit a PR: https://github.com/DmitrySoshnikov/syntax/tree/master/src/plugins/rust/templates.

[2019-02-22 09:31] ckanner commented on #76
@DmitrySoshnikov I will do this.

[2019-02-22 09:39] ckanner opened #77 "Rust plugin: error handling"
Look this main method `pub fn parse(&mut self, string: &'static str) -> TResult`.

When the input is illegal, the parser will throw `panic` . By this way, I can not get the error message.

I think the better way is `pub fn parse(&mut self, string: &'static str) ->Result<TResult, Error>`.

[2019-02-22 22:06] DmitrySoshnikov commented on #77
@ckanner, you can define [on_parse_error](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/rust/rust-parser-generator-trait.js#L471-L473) hook for this. The [default implementation](https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/rust/rust-parser-generator-trait.js#L18-L26) just throws.

[2019-05-18 19:44] remorses opened #78 "--tokenizer-only doesn't output any file"
Executing `syntax-cli -g ./grammar.js  --mode slr1 --tokenizer-only -o ./tokenizer.js` doesn't output anything in `tokenizer.js`.
Same with python.
Same executing `syntax-cli -l ./lex.js  --mode slr1  -o ./tokenizer.js`

[2019-05-21 14:14] rasteiner opened #79 "Single quotes are not escaped in lex rules for PHP plugin"
## Problem
The array keys of lex rules in a generated PHP parser don't have correctly escaped single quotes and slashes.

## Example
for a lex rule like this:

[code]

The expected outcome would be:
[code]

The current output is
[code]
Which is invalid PHP and also a different regex (unescaped slashes).

## Context

https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/php/php-parser-g

[2019-05-23 03:46] DmitrySoshnikov commented on #79
@rasteiner, thanks for the report, I'll take a look. And will appreciate a PR of course, in case you'll reach it earlier than me.

[2019-05-27 23:54] jghansen opened #82 "PHP Undefined variable $static should be $start I assume"
PHP Undefined variable $static should be $start I assume as other templates have this the yyloc
in the php plugin

[2019-05-29 05:22] #79 closed

[2019-05-30 02:20] #75 closed

[2019-05-30 02:20] #76 closed

[2019-08-17 19:00] DmitrySoshnikov commented on #73
Another example of the mutually-recursive non-terminals: https://gist.github.com/DmitrySoshnikov/924ceefb1784b30c5ca6#gistcomment-3000804

[2019-08-21 11:48] Islidius commented on #73
I think i found a solution to this problem using a two pass approach: https://gist.github.com/DmitrySoshnikov/924ceefb1784b30c5ca6#gistcomment-3004304

[2019-10-17 03:08] DmitrySoshnikov opened #84 "Implement C++ plugin"
We should build a plugin for modern C++ 14/17.

[2019-10-25 11:50] TokenGuard opened #85 "Rust plugin missing token location support"
Hi, I am currently trying to implement a parser in Rust using Syntax, but when I run Syntax with the `--loc` option `rustc` just complains that it cannot find a definition of `Loc` anywhere, which from what I gather is the struct that extracts location information from the file.

I haven't been able to find any documentation of this feature for the Rust plugin so my question is should the definiti

[2019-10-26 02:56] DmitrySoshnikov commented on #85
Hi Bence,

Thanks for the report. It seems Rust plugin doesn't support generating
locations at the moment, I don't see Loc struct definition in the
templates, but I do seem some rewrites are happening at
https://github.com/DmitrySoshnikov/syntax/blob/master/src/plugins/rust/rust-parser-generator-trait.js#L352
 -- Loc::from_tokens_range . Probably I wanted to implement Loc for Rust,
but then postpo

[2020-08-24 05:32] DmitrySoshnikov opened #97 "LL(1): support Follow/Follow conflict"
[code]

Here, since `a` is both in the FOLLOW of `B` and `C`, on `(A, a)` there will be a conflict between `A → B` and `A → C`.

[2020-08-24 07:55] DmitrySoshnikov commented on #97
Fixed in https://github.com/DmitrySoshnikov/syntax/commit/9940eab605196df2e2168b020ddf774074fb43d7.

[2020-08-24 07:55] #97 closed

[2020-10-03 02:05] snicolai commented on #17
You might look at the lemon parser used by SQLite for techniques to fix this.  It’s been thread-safe since it was initially written.

It’s also in use at http://pikchr.org

[2020-10-27 19:12] DmitrySoshnikov opened #99 "Implement IELR parsing mode"
We should support IELR parsing mode. Some details:

- https://www.sciencedirect.com/science/article/pii/S0167642309001191?via%3Dihub
- https://cs.stackexchange.com/questions/3461/what-is-an-ielr1-parser/99463#99463

[2020-11-19 17:01] pidtuner commented on #84
Yes please!

[2020-11-20 01:43] FranklinChen commented on #85
Are there any plans to add this location support?

[2020-11-20 20:25] DmitrySoshnikov commented on #85
No immediate plans yet, but depending on demand, we can allocate time adding support for it.

[2020-12-25 07:23] DmitrySoshnikov commented on #84
Available since `v0.1.20`.

[2020-12-25 07:23] #84 closed

[2022-02-27 22:29] binarykitchen opened #108 "TypeScript support"
Is there any, or a plugin planned for it?

[2022-02-27 22:53] binarykitchen opened #109 "It doesn't find package.json for version number"
[code]

[2022-06-10 22:38] EDKarlsson opened #118 "PEG, Packrat, Pika Parsing mode"
Thanks for responding to my tweet! Just opening this ticket to start a discussion of implementing PEG parsing mode. Side note, you could enable the discussions section to have an area where people could discuss topics without having to create an issue about it.

A bit of context.
I'm currently implementing the SysML v2 modeling language and I've made very good progress using textX since it came gr

[2022-06-10 22:43] EDKarlsson commented on #118
Here is the paper on Pika parsing: https://arxiv.org/abs/2005.06444
Reference implementation: https://github.com/lukehutch/pikaparser

[2022-06-12 19:54] DmitrySoshnikov commented on #118
@EDKarlsson, thanks for submitting the issues (yeah, I'll if Discussions would be useful). PEG would be nice to implement, we probably can start from gradual experimental approach. We'll need to see whether PEG grammar syntax is similar to BNF we use, otherwise (if it uses some extension to BNF) might be a first good step - to define a PEG-grammar format and build a parser for it. Then the actual

[2022-08-08 20:26] dancomp71 opened #120 "syntaxerror unexpected token"
C:\dev\@compiler\grammar>type letter.bnf
%lex

%%

\d+     return 'NUMBER'

/lex

%%

E
    : E '+' t
    | t
    ;

T
    : T '*' F
    | F
    ;
F
    : NUMBER
    ;

C:\dev\@compiler\grammar>syntax-cli --grammar letter.bnf --mode LALR1 --parse '2'

Parsing mode: LALR1_BY_SLR(1).

Parsing:

'2'

SyntaxError:

'2'
^
Unexpected token: "'" at 1:0.
    at Tokenizer.throwUnexpectedToken (C:\Users\Dan

[2022-11-18 09:56] d1tto opened #127 "A ReDoS vulnerability exists in grammar.js"
The affected code is located in [grammar.js-line191](https://github.com/DmitrySoshnikov/syntax/blob/master/src/grammar/grammar.js#L191). It uses the vulnerable regular expression `'(\\.|[^'\\])*'`. When the match fails, it will cause catastrophic backtracking.
I generate PoC using the python script below
[code]
then run `./syntax --grammar test.LR0`

[2022-11-18 20:20] DmitrySoshnikov commented on #127
Thanks for the report - what's the impact here? Would be great to fix it - and will appreciate a PR for this.

[2022-11-19 05:19] d1tto commented on #127
Thanks for your reply!
The impact here is that, if the user provides the grammar file generated by the python script above, the regex engine will exhaust computing resources and the application will be slow to respond, causing denial-of-service attack.
You can read the [report](https://security.snyk.io/vuln/SNYK-JS-MOCHA-2863123) related to ReDoS to learn more about it.

[2022-11-22 07:20] d1tto commented on #127
I have submitted a [PR](https://github.com/DmitrySoshnikov/syntax/pull/128), could you take a look?

[2022-11-22 18:32] gankoji opened #129 "Python generator doesn't use raw strings"
Per Python's regular expressions documentation [here](https://docs.python.org/3/library/re.html), if we want Python re's to have the same escaping rules as other langs we need to prepend the strings with 'r' for raw. Otherwise, python will escape characters for us during interpretation.

When I generate a parser with the following lex section:

[code]

I get the following generated python:
[code]

[2022-11-22 19:37] DmitrySoshnikov commented on #127
Hi @d1tto, thanks for the PR - do we have an existing test for this (or need to add a new one)?

[2022-11-22 19:42] DmitrySoshnikov commented on #129
@gankoji thanks for the report. Yes, we need to fix this - will appreciate a PR for it.

[2022-11-22 19:44] DmitrySoshnikov commented on #120
Please address documentation for the Windows command line interface. Likely you'll need to pass strings in double-quotes, either `'"2"'` or `"2"`.

[2022-11-22 19:45] DmitrySoshnikov commented on #109
Thanks - feel free to submit a PR for this.

[2022-11-23 00:29] gankoji commented on #129
@DmitrySoshnikov apologies if there are multiple pings, I don't know if you get notified for the PR. [PR #135](https://github.com/DmitrySoshnikov/syntax/pull/135) is up for this issue.